body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Start Head */
header{
    width: 100%;
    height:60px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}
header div{
    float: left;
    justify-content: space-between;
}

header .logo img{
    font-size: 80px;
    left: 120px;
    width: 295px;
    height: 52px;
    margin-left:-58px;
    
}

.scrbox input{
    width:355px;
    height:35px;
    padding: 12px 10px;
    margin-left: -45px;
    margin-top:13px;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    outline: none;
    border: none;
}

.scrbox div i {
    background-color:#00ccff;
    width:34px;
    height:33px;
    border-radius: 0px 0px 3px;
    padding:1px;
    font-size:34px;
    margin-top:13px;
    margin-left:-36px;
}

header .nav {
    position: fixed;
    list-style: none;
    right: 150px;
    top: 6px; 
}

header .fa-solid{
    display: none;
}

header .nav ul{
    list-style: none;
}
header .nav ul li{
    display:inline-block;
}
.nav ul li a{
    text-decoration: none;
    display:inline-block;
    color: #6c4003;
    padding-left:30px ;
    text-transform: uppercase;

}

.nav ul li a:hover{
    color: orange;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav ul li a:visited{
    color: orange;
}


/* End Head */

/* Start Section*/

.section1{
    background-color: aliceblue;
    width: 100%; height: 650px;
    justify-content: space-between;
    display: flex;
    text-align: center;

}

.section1 .text1 .pic1{
    position: fixed;
    justify-content: space-between;
    float: left;

}
.text1{
    margin-top: 150px;
    margin-left: 110px;
}

.text1 h1{
    color:rgb(0,150,255);
    font-size: 60px;
    left: 8px;
    margin-top: -30px;
    font-weight: bold;
    font-family: Arial,sans-serif;

}
.text1 span{
    color: #ff9900;
}

.text1 h3{
    color: #127f09;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-left: 5px;
    margin-top: 130px;
    text-align: left;

}

.text1 p {
    color: #847a7a;
    margin-top: -55px;
}

.pic1 img{
    width: 100% auto;
    height: 500px;
    margin-right:110px;
    margin-top: 90px;

}


/* End Section*/

/*Section 2 Start*/

.servic1{
    cursor: pointer;
}
.section2{
    width: 100%;
    height: 530px;
    background: #eeeeee;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    position: absolute;
}

.sv2text2{
    margin-top:25px;
    line-height: 8px;
    
}

.sv2text2 h1{
    font-size:35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.servic1{
    width: 90%;
    padding: 5px;
    margin-top: 40px;
    margin-left:100px;
}

.servic1 div{
    width: 30%;
    padding: 5px;
    float: left;
}

.servic1 a{
    text-decoration: none;
    color: #000;
}

.servic1 i{
    font-size: 50px;
    color: rgb(23, 151, 255);
}
.servic1, h1{
    font-size: 19px;
    color: #000000;
}

.servic1 div:hover{
    background: rgba(0,150,255,0.3);
    background: linear-gradient(90deg, rgba(0,150,255,1) 15%, rgba(253,29,29,1) 52%, rgba(250,138,7,1) 78%, rgba(249,156,3,1) 100%);
    border-radius: 9px;
}

.servic1:hover div{
    color: white;
    transition:ease-in 0.5s;
    transform: scale(40px);
}

/*Section 2 End*/

/* Start footer*/
.section3{
    width: 100%;
    height: 300px;
    background-color: #ebe5e5;
    position: absolute;
    margin-top:530px;
    text-align: center ;
}

.section3 h1{
    margin-top: 100px;

}

.section3 p{

}

.section3 .ftic1 a{
font-size: 30px;
color: #000000;
padding-left: 20px;
}

.ftic1 .fb:hover{
    color: #0059ff;
}

.ftic1 .ig:hover{
    color: #ff7b00;
}

.ftic1 .tw:hover{
    color: #0045c6;
}

.ftic1 .wh:hover{
    color: #159b01;
}

.ftic1 .ml:hover{
    color: #ff0000;
}

.ftic1 .ld:hover{
    color: #0059ff;
}


/* End footer*/







/* Start responsive content */


@media (max-width:915px) {

    header{
        width: 100%;
        height:auto;
    }

 .nav ul{
    position: fixed;
    top: 33px;
    left: 0;
    background: white;
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    overflow: hidden;

line-height: 34px;
 }


    .scrbox input {
        width:213px;
      
    }


    .fa-solid{
        display: block;
        font-size: 42px;
        position: absolute;
        margin-top:10px;
        right: 0;
    }

/* section 1 responsive */

    .section1{
        width: 100%;
        height:570px;
    }

    .section1, .text1 .pic1{
        display: flex;
       flex-direction: column;
       text-align: center;
       justify-content: center;
}

.section1 .text1{
  margin-top:-30px;
}

.text1 h1{
    font-size: 40px;
}
.text1 p{
    line-height: 54px;
}

.pic1 img{
    margin-top:0px;
    height:350px;
    float:right;
}

.section2{
    width: 100%;
    height:800px;
    text-align: center;
   justify-content: center;
}

.servic1  div{
    width:80%;
    height: auto;
    flex-direction: column;
    text-align: center;
}



.section3{
  margin-top: 1000px;
}

}


